name: NuGet Publish

on:
  push:
    branches:
      - master
      - release/*
      - hotfix/*

jobs:
  build:
    env:
      BUILD_CONFIG: 'Release'
      PROJECT: 'MiguelGuedelha.Quickstart.Templates.csproj'
      
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}   # checkout the correct branch name
          fetch-depth: 0 
      
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.1.1
        
      - name: Git Version
        id: version
        uses: codacy/git-version@2.7.1
        
      # Use ${{ steps.version.outputs.version }} to get current version
      - name: Release Version
        run: echo ${{ steps.version.outputs.version }}
        
      - name: Build Number
        run: echo ${{ github.run_number }}
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: 7.x
          
      - name: Run pack
        run: dotnet pack -p:Version=${{ steps.version.outputs.version }}.${{ github.run_number }}
